// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$light-grey: #777;
$medium-light-grey: #eaeaea;
$white: #fff;
$grey: #555;
$dark-grey: #222;
$blue: #337ab7;

/* Home Page */

.jumbotron {
  height: 90vh;
  margin-bottom: 0ex;
  background-color: #DCDCDC;
  h1 {
    margin-top: 3ex;
    margin-bottom: 1ex;
  }
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 7ex;
    text-align: center;
    font-weight: normal;
    color: $light-grey;
  }
}

.jumbotron-btn {
  padding: 3ex;
}

/* About Page */
.about-content {
  margin-left: 5rem;
  font-size: large;
}

#about-summary {
  padding-bottom: 5ex;
  font-size: x-large;
}

/* Help page */
#help-page{
  margin-left: 2rem;
  margin-right: 2rem;
  max-width: 120rem;
}

/* View Profile Page */

.view-profile-content {
  margin-left: 5rem;
  padding-bottom: 5rem;
  ul {
    padding-top: 1rem;
  }
  li {
    padding-bottom: 5px;
  }
}

#user-prof-table {
  border-collapse: collapse;
  border: solid;
  border-width: 1px;
  background-color: $blue;
  font-size: x-large;

  width: 90%;
  margin-left: 5%;
  margin-right: 5%;

  td {
    padding: 1rem;
  }

  .data {
    margin-left: 3rem;
  }
  td:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #access {
    vertical-align: baseline;
    align-content: top;
  }
}

